@import "tailwindcss";
 
@plugin "tailwindcss-motion";

@font-face {
    font-family: Futura;
    src: url(../src/assets/fonts/Futura\ Bold\ font.ttf);
}

@theme{
    --font-futura: Futura, "sans-serif";
    --color-ddarkblue: #0b0026;
    --color-ddarkbluehover: #140045;
    --color-gradientpink: #871069;
    --color-bettergray: #8C8C8C;
}